/* Global Styles */
body {
  background-color: #cb4309;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Register Form Styles */
.bg-register {
  background-color: #FAA73F;
  color: white;
  padding: 10px; /* Reduced padding */
  border-radius: 0; /* Removed rounded edges */
  box-shadow: none; /* Removed shadow effect */
  margin: 0; /* Removed external spacing */
}

img {
  height: auto;
}

/* Buttons */
.btn-primary {
  background-color: #AA181C;
  border: none;
}

.btn-primary:hover {
  background-color: #9d161a;
}

/* Alerts */
.alert-success {
  background-color: #4caf50;
  color: white;
}

.alert-danger {
  background-color: #f44336;
  color: white;
}

/* Rounded Circle for Logo */
.rounded-circle {
  border-radius: 50% !important;
}
